<!-- TO DO:
- big photo at the top
- Some text
- product sections
- some reviews
-->

{{ 'home.css' | asset_url | stylesheet_tag }}

<div class="homepage-wrapper">
  <div class="homepage-text">
    <h1>{{ section.settings.title }}</h1>
    <br>
    <p>
      {{ section.settings.content }}      
    </p>
  </div>
</div>


{% schema %}
  {
      "name": "Home",
      "settings": [
            {
              "id": "title",
              "label": "title text",
              "type": "text",
              "default": "Welcome"
            },
            {
              "id": "content",
              "label": "content text",
              "type": "text"
            }
        ]
  }
{% endschema %}