
<h1>Homepage</h1>

<p>
  GOP candidate forum is set to be held at 6:30 p.m.
   ET Monday. Then, an internal conference vote will 
   occur 9 a.m. Tuesday. Speaker Pro Tem Patrick McHenry
    has said his intention is to move to a floor vote
     “as soon as Tue
</p>

<p>
  GOP candidate forum is set to be held at 6:30 p.m.
   ET Monday. Then, an internal conference vote will 
   occur 9 a.m. Tuesday. Speaker Pro Tem Patrick McHenry
    has said his intention is to move to a floor vote
     “as soon as Tue
</p>

<p>
  GOP candidate forum is set to be held at 6:30 p.m.
   ET Monday. Then, an internal conference vote will 
   occur 9 a.m. Tuesday. Speaker Pro Tem Patrick McHenry
    has said his intention is to move to a floor vote
     “as soon as Tue
</p>

<p>
  GOP candidate forum is set to be held at 6:30 p.m.
   ET Monday. Then, an internal conference vote will 
   occur 9 a.m. Tuesday. Speaker Pro Tem Patrick McHenry
    has said his intention is to move to a floor vote
     “as soon as Tue
</p>

<p>
  GOP candidate forum is set to be held at 6:30 p.m.
   ET Monday. Then, an internal conference vote will 
   occur 9 a.m. Tuesday. Speaker Pro Tem Patrick McHenry
    has said his intention is to move to a floor vote
     “as soon as Tue
</p>

<p>
  GOP candidate forum is set to be held at 6:30 p.m.
   ET Monday. Then, an internal conference vote will 
   occur 9 a.m. Tuesday. Speaker Pro Tem Patrick McHenry
    has said his intention is to move to a floor vote
     “as soon as Tue
</p>

<p>
  GOP candidate forum is set to be held at 6:30 p.m.
   ET Monday. Then, an internal conference vote will 
   occur 9 a.m. Tuesday. Speaker Pro Tem Patrick McHenry
    has said his intention is to move to a floor vote
     “as soon as Tue
</p>

{% schema %}
{
  "name": "Home",
  "settings": []
}
{% endschema %}