<h2> SWAGGY SLIDER </h2>

{% schema %}
    {
        "name": "Slick Slider",
        "settings": [],
        "presets": [
            {
                "name": "Slick Slider"
            }
        ],
        "enabled_on": {
            "templates": ["product"]
        }
    }
{% endschema %}

<!--
    enabled_on can be used to specify which templates
    have access to this section from the theme editor
-->