<h2> SWAGGY SLIDER </h2>

{% schema %}
    {
        "name": "Slick Slider",
        "settings": [],
        "presets": [
            {
                "name": "Slick Slider"
            }
        ]
    }
{% endschema %}