/* TO DO:
- when page is shrunk, it should become a side menu
- add icons
- change colors
- add images to dropdown
*/

.header-wrapper {
    background-color: var(--sea-salt);
    padding: 15px 40px 2px 40px;
    box-shadow: 0 5px 10px var(--light-gray);

    width: 100%;
    min-width: 500px;
    position: fixed;
    top: 0;
}

.shipping-info {
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 600;
    color: var(--black-olive);
    text-align: center;
}

.mid-header {
    display: grid;
    grid-template-columns: 20% 50% 20%;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

.header-icon-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header-icon {
    width: 30px;
    height: 30px;
}

.header-icon img {
    width: 100%;
}

.header-icon img:hover {
    cursor: pointer;
}


.logo-container {
    float: left;

    width: 80px;
    height: 80px;
}

.logo-container img {
    width: 100%;
    height: auto;
    border: 2px solid lightgray;
    border-radius: 3px;
}

.logo-container:hover {
    cursor: pointer;
}

.search-bar input {
    box-sizing: border-box;
    border-radius: 15px;
    background-color: var(--lavender);
    border: none;

    width: 100%;

    padding: 10px;
    height: 30px;
    margin: auto;
}

.search-bar input:focus {
    outline: none;
}

.account {
    width: 30px;
    height: 40px;
    background-color: var(--black-olive);
    margin: auto;
}

.cart {
    width: 30px;
    height: 40px;
    background-color: var(--black-olive);
    margin: auto;
}

.nav-bar {
    display: grid;
    grid-template-columns: repeat(6, auto);
    width: 75%;
    max-width: 1000px;
    margin: auto;
    column-gap: 10px;
    padding: 0 2px;
}

.nav-bar a {
    color: var(--black-olive);
    text-decoration: none;
    box-sizing: content-box;
    padding-bottom: 3px;
    text-align: center;
    transition: 0.1s border-bottom, 0.1s padding-bottom;
}

.nav-bar a:hover {
    border-bottom: 3px solid var(--purple);
    padding-bottom: 0px;
}

/* Dropdown menu */
.dropdown-content {
    display: none;
    background-color: var(--black-olive);
    position: absolute;
    top: 140px;
    left: 350px;
    color: white;
    width: 400px;
    height: 200px;
  }

  /* NOTE: if you take mouse off "Shop All" the 
    dropdown content disappears.
  */
.dropdown-content a:hover {background-color: #919090;}

.dropdown:hover .dropdown-content {display: block;}

/******* HAMBURGER MENU *******/

.hamburger-menu {
    height: 40px;
    width: 40px;

    display: none;
}

.hamburger-menu input {
    position: absolute;

    height: 50px;
    width: 50px;

    opacity: 0;
    z-index: 1;
}

.hamburger-menu input:hover {
    cursor: pointer;
}

.hm-items {
    background-color: var(--sea-salt);
    position: relative;
    right: 400px;
    top: 15px;
    height: 95vh;
    width: 300px;
    padding-top: 20px;

    display: flex;
    flex-direction: column;

    transition: right 0.4s ease-in-out;
    z-index: -1;
}

.hm-items:hover {
    cursor: pointer;
}

.hm-items li {
    line-height: 1.5;
    
    height: 60px;
    width: 100%;
    font-size: 16px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 500;
    margin-bottom: 18px;

    border-bottom: 2px solid var(--black-olive);
    border-top: 2px solid var(--black-olive);
}

.hm-items li:hover {
    background-color: var(--purple);
    color: white;
}

.hamburger-menu-icon {
    width: 50px;
    height: 50px;

    transition: rotate 1s;
}

.hamburger-menu-icon img {
    width: 100%;
}

#hm-checkbox:checked ~ .hm-items {
    right: 20px;
}

#hm-checkbox:checked ~ .hamburger-menu-icon {
    rotate: 180deg;
}


/******* SMALLER SCREENS *******/
@media screen and (max-width: 900px) {
    .header-wrapper {
        padding: 15px 20px 20px 10px;
    }

    .mid-header {
        width: 100%;

        grid-template-columns: 10% 10% 50% 20%;
    }

    .logo-container {
        width: 100%;
        height: auto;
    }

    .shipping-info {
        display: none;
    }

    .nav-bar {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }

}

@media screen and (max-width: 500px) {
    .hm-items li {
        font-size: 20px;
    }
}