/* TO DO:
- when page is shrunk, it should become a side menu
- add icons
- change colors
- add images to dropdown
*/

.header-wrapper {
    background-color: var(--sea-salt);
    padding: 15px 40px 2px 40px;
    box-shadow: 0 5px 10px var(--light-gray);

    width: 100%;
    /*position: sticky;*/
    position: fixed;
    top: 0;
}

.shipping-info {
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 600;
    color: var(--black-olive);
    text-align: center;
}

.mid-header {
    display: grid;
    grid-template-columns: 20% 60% 10% 10%;
    align-items: center;
    /*border: 1px dotted blue;*/
}

/* to visualize the columns */
.mid-header div {
    /*border: 1px dotted red;*/
}

.logo-container {
    float: left;

    width: 80px;
    height: 80px;
}

.logo-container img {
    width: 100%;
    height: auto;
    border: 2px solid darkgray;
    border-radius: 3px;
}

.logo-container:hover {
    cursor: pointer;
}

.search-bar input {
    padding: 5px;
    border-radius: 10px;
    background-color: var(--lavender);
    border: none;

    width: 100%;
}

.account {
    width: 30px;
    height: 40px;
    background-color: var(--black-olive);
    margin: auto;
}

.cart {
    width: 30px;
    height: 40px;
    background-color: var(--black-olive);
    margin: auto;
}

.nav-bar {
    display: grid;
    grid-template-columns: repeat(6, auto);
    width: 75%;
    margin: auto;
    column-gap: 10px;
    padding: 0 2px;
}

.nav-bar a {
    color: var(--black-olive);
    text-decoration: none;
    box-sizing: content-box;
    /*border: 1px solid green;*/
    padding-bottom: 3px;
    text-align: center;
    transition: 0.1s border-bottom, 0.1s padding-bottom;
}

.nav-bar a:hover {
    border-bottom: 3px solid var(--purple);
    padding-bottom: 0px;
}

/* Dropdown menu */
.dropdown-content {
    display: none;
    background-color: var(--black-olive);
    position: absolute;
    top: 140px;
    left: 350px;
    color: white;
    width: 400px;
    height: 200px;
  }

  /* NOTE: if you take mouse off "Shop All" the 
    dropdown content disappears.
  */
.dropdown-content a:hover {background-color: #919090;}

.dropdown:hover .dropdown-content {display: block;}

/* Smaller screens */
@media screen and (max-width: 900px) {
    .header-wrapper {
        background-color: pink;
        padding-bottom: 20px;
    }

    .shipping-info {
        display: none;
    }

    .nav-bar {
        display: none;
    }
}