:root {
    --lavender: #dcdcff;
    --periwinkle: #cdcdff;
    --purple: #8686fe;
    --black-olive: #43433e;
    --light-gray: #d3d3d3;
    --sea-salt: #f9fafd;
}

.product-block-wrapper {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
    padding-top: 20px;

    /*box-shadow: 0 5px 10px var(--light-gray);*/
}

.product-block-wrapper h2 {
    text-decoration: underline;
}

.product-block {
    height: 35vw;
    max-height: 500px;
    width: 30vw;
    max-width: 400px;
    display: inline-block;
    margin: 30px 10px;

    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 5px 10px var(--light-gray);
    transition: 0.3s background-color;
}

.product-block:hover {
    background-color: lightgray;
    cursor: pointer;
}

.product-block-grid {
    display: grid;
    grid-template-rows: 80% 10% 10%;
    height: 100%;
    align-items: center;
}

.product-img-container {
    width: 100%;
    height: auto;
}

.product-img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

/* Smaller screens */
@media screen and (max-width: 900px) {
    .product-block-wrapper {
        height: auto;
    }

    .product-block {
        display: block;
        height: 550px;
        width: 400px;
        margin: auto;
        margin-top: 30px;
    }
}