:root {
    --lavender: #dcdcff;
    --periwinkle: #cdcdff;
    --purple: #8686fe;
    --black-olive: #43433e;
    --light-gray: #d3d3d3;
    --sea-salt: #f9fafd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f6f6f6;
    color: #000000;
    font-family: "Arial";
}